<div class="text text-dark text-center" style="margin-bottom: 15px">
  <h3>User Operation Claim List Table</h3>
</div>
<hr />
<div class="text text-center" style="margin-bottom: 15px">
  <button
    style="margin-left: 10px"
    class="btn btn-secondary"
    routerLink="/admin/auth/add"
  >
    <i class="bi bi-plus-square"></i> set An authorization Assignment
  </button>
</div>
<div class="container text text-center">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User Email</th>
        <th scope="col">Claim Name</th>
        <th scope="col">Delete operation claim</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of userOperationClaims">
        <td>{{ item.id }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.claimName }}</td>
        <td>
          <button class="btn btn-danger mx-1" (click)="delete(item)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" (click)="decreasePageNumber()">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="setPageNumber(1)">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="setPageNumber(2)">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" (click)="setPageNumber(3)">3</a>
      </li>
      <li *ngIf="checkDataAmount()">
        <a class="page-link" (click)="increasePageNumber()">Next</a>
      </li>
    </ul>
  </nav>
</div>
