<div class="container-fluid overflow-hidden">
  <div class="row vh-100 overflow-auto">
    <div
      class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top"
    >
      <div
        class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white"
      >
        <a
          class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <i class="bi bi-bar-chart-line-fill bi-2x"></i>
          <span class="fs-6" style="margin-left: 15px">ADMİN CONTROL</span>
        </a>
        <span class="custom-br"></span>

        <ul
          style="margin-top: 45px; color: #ffff"
          class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start"
        >
          <li style="color: #ffff">
            <a
              routerLink="/admin/dashboard"
              class="nav-link px-sm-0 px-2"
              routerLinkActive="active-list-item"
            >
              <i class="fs-5 bi-speedometer2"></i
              ><span class="ms-1 d-none d-sm-inline">Dashboard</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/admin/blogs"
              class="nav-link px-sm-0 px-2"
              routerLinkActive="active-list-item"
            >
              <i class="fs-5 bi-grid"></i
              ><span class="ms-1 d-none d-sm-inline">Blogs</span></a
            >
          </li>

          <li>
            <a
              routerLink="/admin/categories"
              class="nav-link px-sm-0 px-2"
              routerLinkActive="active-list-item"
            >
              <i class="fs-5 bi-table"></i
              ><span class="ms-1 d-none d-sm-inline">Categories</span></a
            >
          </li>
          <li>
            <a
              routerLink="/admin/users"
              class="nav-link px-sm-0 px-2"
              routerLinkActive="active-list-item"
            >
              <i class="fs-5 bi-people"></i
              ><span class="ms-1 d-none d-sm-inline">Users</span>
            </a>
          </li>
          <li class="dropdown">
            <a routerLinkActive="active-list-item"
              href="#"
              class="nav-link dropdown-toggle px-sm-0 px-1"
              id="dropdown"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-person-lines-fill"></i>
              <span class="ms-1 d-none d-sm-inline">Claim Operations</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark text-small shadow"
              aria-labelledby="dropdown"
            >
              <li>
                <a
                  routerLink="/admin/auth/claims"
                  class="dropdown-item"
                  routerLinkActive="active-list-item"
                  >Claims</a
                >
              </li>
              <li>
                <a
                  routerLink="/admin/auth/authassignments"
                  class="dropdown-item"
                  routerLinkActive="active-list-item"
                  >Authorization Assigments</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <div style="margin-bottom: 45px">
          <span
            ><a style="text-align: center; color: #ffff; text-decoration: none;" routerLink="/"
              ><i class="bi bi-house-door"></i>
              Go Back To Home
            </a></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
