
  footer {
    padding: 50px 0 65px;
  }
  
  footer .list-inline {
    margin: 0;
    padding: 0;
  }
  
  footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
  }
  .pointer {
    cursor: pointer;
  }

  .post-preview > a {
    color: #212529;
  }
  
  .post-preview > a:focus,
  .post-preview > a:hover {
    text-decoration: none;
    color: #0085a1;
  }
  
  .post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
  }
  
  .post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
  }
  
  .post-preview > .post-meta > a {
    text-decoration: none;
    color: #212529;
  }
  
  .post-preview > .post-meta > a:focus,
  .post-preview > .post-meta > a:hover {
    text-decoration: underline;
    color: #0085a1;
  }
  
  @media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
      font-size: 36px;
    }
  }

  a#isAuthor{
    margin-left: 35px;
    color: #1414ff;
  }

  a.btn.btn-danger{
    margin-left: 8px;
  }

  
.btn {
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-primary {
  background-color: #0085a1;
  border-color: #0085a1;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  background-color: #00657b !important;
  border-color: #00657b !important;
}
  
a:focus,
a:hover {
  color: #0085a1;
}

::-moz-selection {
  color: #fff;
  background: #0085a1;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #0085a1;
  text-shadow: none;
}

body {
  font-size: 20px;
  color: #212529;
  font-family: "Lora", "Times New Roman", serif;
  background-color: #6d7074;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

p a {
  text-decoration: underline;
}

h1,
h2,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3.post-subtitle {
  font-weight: 300;
}

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}